# Object files
*.o
*.obj
*.elf

# Precompiled Headers
*.gch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*

# Executables
*.exe
*.out

Makefile
config.log
config.status
firejail-profile.5
firejail.1
firemon.1
src/firejail/Makefile
src/firejail/firejail
src/firemon/Makefile
src/firemon/firemon
src/lib/Makefile
src/libtrace/Makefile
